{% extends "base_generic.html" %}
{% block content %}
<table class="table table-striped">
  <tr>
    <th>PK</th>
    <th>Nome</th>
    <th>CPF</th>
    <th>Email</th>
    <th>CEP</th>
    <th>Bairro</th>
    
  </tr>
  {% for Cliente in object_list %}
  <tr>
    <td>{{Cliente.pk}}</td>
    <td>{{Cliente.nome}}</td>
    <td>{{Cliente.cpf}}</td>
    <td>{{Cliente.email}}</td>
    <td>{{Cliente.cep}}</td>
    <td>{{Cliente.bairro}}</td>
    <td>
      
      <a href="" class="btn btn-warning">Editar</a>
      <a href="" class="btn btn-danger">Excluir</a>
            
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="3">Nenhum livro cadastrado!</td>
</tr>
{% endfor %}
</table>
{% endblock %}