{% load static %}
{% block header %} {% endblock %}
{% block container %}
<div>
    <!-- Início do menu à direita -->
    <ul class="navbar-nav ml-auto">

        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ request.user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'alterar_senha' %}">
            <i class="fa fa-key" aria-hidden="true"></i> Alterar senha</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a>
        </div>
        </li>
    
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Entrar
        </a>
        </li>
        {% endif %}
    
    </ul>
    <!-- Fim do menu -->
</div>
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-lg">
            <h3>{{ titulo }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <form method="post">
                <!-- Todo formulário tem que ter essa validação -->
                {% csrf_token %}
                <!-- Gera o formulário -->
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                    Entrar
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}