{% extends "base_generic.html" %}

{% block content %}
  <h1>Livraria - Inicio</h1>
  <p>Bem-vindo a sua livraria, desenvolvivo no curso de <em>Sistemas Distribuídos com Jairson</em>!</p>
  <h2>Conteúdo</h2>
  <p>A livraria possui os seguintes números:</p>
  <ul>
    <li><strong>Livros:</strong> {{ num_books }}</li>
    <li><strong>Cópias:</strong> {{ num_instances }}</li>
    <li><strong>Cópias Disponíveis:</strong> {{ num_instances_available }}</li>
    <li><strong>Autores:</strong> {{ num_authors }}</li>
  </ul>
{% endblock %}